<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div id="app">
    <div class="post-page">
        <h1><%= post.title %></h1>
        <p><%= post.content %></p>

        <hr>
        <div class="actions">
            <a href="/" class="btn link">< Go back</a>
        </div>
    </div>

    <h2>Comments</h2>
    <% if (post.comments && post.comments.length > 0) { %>
    <ul>
        <% post.comments.forEach(comment => { %>
            <li><%= comment.content %> (posted on <%= comment.createdAt.toLocaleDateString() %>)</li>
        <% }); %>
    </ul>
    <% } %>

    <h3>Add a Comment</h3>
    <form action="/posts/<%= post._id %>/comments" method="POST">
        <textarea name="content" id="content" required></textarea>
        <br>
        <button type="submit">Add Comment</button>
    </form>
</div>
</body>
</html>